{% extends "layout.html" %}
{% block title %}

{% endblock %}

{% block main %}
            <div class="container">
                      <div class="html5gallery" data-skin="mediapage" data-responsive="true" data-responsivefullscreen="true">
                          <a href="https://www.youtube.com/embed/a7XxAcnIesk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen><img src="/static/assets/images/magical.png" alt="Magical Kenya"> </a>
                          <a href="https://www.youtube.com/embed/hLXei8UkoYY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen><img src="/static/assets/images/pamper.png" alt="Cinematography"> </a>
                          <a href="https://www.youtube.com/embed/wteoO0yJXEw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen><img src="/static/assets/images/pamper.png" alt="Cinematography"> </a>
                          <a href="https://www.youtube.com/embed/RU278qbaGbw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen><img src="/static/assets/images/pamper.png" alt="Mara"> </a>
                          <a href="https://www.youtube.com/embed/cV_8R9NWfqc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen><img src="/static/assets/images/pamper.png" alt="Horse Safari"> </a>
                          <a href="https://www.youtube.com/embed/kVdXTduStXs?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen><img src="/static/assets/images/landing.png" alt="Activities"> </a>
                          <a href="https://www.youtube.com/embed/tFbX8fUNDoc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen><img src="/static/assets/images/nomad-diani.png" alt="Beautiful Coast"> </a>
                          <a href="https://www.youtube.com/embed/zhNj3RFkwLc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen><img src="/static/assets/images/nomad-diani.png" alt="Coast"> </a>
                          <a href="https://www.youtube.com/embed/uIBHuqeis3U?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen><img src="/static/assets/images/safaricom.png" alt="Landmarks"> </a>
                          <a href="https://www.youtube.com/embed/6pqTicfMUoo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen><img src="/static/assets/images/air.png" alt="Aerial View"> </a>
                          <a href="https://www.youtube.com/embed/a9Gk6-Jy84Q?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen><img src="/static/assets/images/zebra.jpeg" alt="Wildlife"> </a>
                          <a href="https://www.youtube.com/embed/w29Og-xxt7o?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen><img src="/static/assets/images/chale.png" alt="Chale Island"> </a>
                          <a href="https://www.youtube.com/embed/ML4lIGRICnk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen><img src="/static/assets/images/come.png" alt="Come to Kenya"> </a>
                          <a href="https://www.youtube.com/embed/aljqPcFjOpE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen><img src="/static/assets/images/pamper.png" alt="Pamper Yourself"> </a>
                      </div>
            </div>

{% endblock %}